@import './common/variables';
@import './common/float';
@import './common/card';
@import './common/flexbox';
@import './common/buttons';
@import './common/background';
@import './common/font';
@import './common/form';
@import './common/grid';
@import './common/menu';
@import './common/listas';
@import './common/aside';
@import './common/input';
@import './common/checkbox';
@import './common/radio';
@import './common/toggle-switch';
@import './common/file-upload';
@import './common/barra-progresso';
@import './common/roda-progresso';
@import './common/margin';
@import './common/modal';
@import './common/tooltip';
@import './common/notificacao';
@import './common/paginacao';
@import './common/iframe';
@import './common/navegacao-interna';

@import 'documentation-app/documentation-app';

@import './common/reset';

@import './auth/auth';

body {
    font-family: 'WorkSans';
}

header .container {
    display: flex;
    padding: 24px 8px;
}