@import './common/variables';
@import './common/float';
@import './common/flexbox';
@import './common/buttons';
@import './common/background';
@import './common/font';
@import './common/grid';
@import './common/aside';
@import './common/margin';
@import './common/modal';

@import 'documentation-app/documentation-app';

@import './common/reset';

body {
    font-family: 'WorkSans';
}

header .container {
    display: flex;
    padding: 24px 8px;
}