aside {
    min-width: 270px;
    width: 270px;
    max-width: 270px;
    height: 100%;

    .container {
        padding-left: 16px;
        padding-right: 10px;
        width: 100%;
        margin: 0;
    }

    &::-webkit-scrollbar {
        width: 2px;
    }
}