.btn, .btn-icone {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid $border-color;
    color: $text-light;
    background-color: transparent;
    padding: $btn-padding-y $btn-padding-x;
    transition: ease-in-out .3s;

    &:hover {
        cursor: pointer;
    }
}

.btn-menu {
    font-weight: $btn-menu-font-weight;
    font-size: $btn-menu-text;
    padding: $btn-menu-padding-y $btn-menu-padding-x;
    color: $text-dark;
    border: none;
}

.btn {
    &-primary {
        background-color: $btn-primary-background;
        color: $btn-primary-text;
        border: none;

        &:hover {
            cursor: pointer;
            background-color: $btn-primary-background__hover;
            color: $btn-primary-text__hover;
        }

        &:active {
            background-color: $btn-primary-background__active;
            color: $btn-primary-text__active;
        }
    }

    &-secondary {
        background-color: $btn-secondary-background;
        color: $btn-secondary-text;
        border: $btn-secondary-border;

        &:hover {
            cursor: pointer;
            background-color: $btn-secondary-background__hover;
            color: $btn-secondary-text__hover;
        }

        &:active {
            background-color: $btn-secondary-background__active;
            color: $btn-secondary-text__active;
        }
    }

    &-third {
        background-color: $btn-third-background;
        color: $btn-third-text;
        border: none;

        &:hover {
            cursor: pointer;
            background-color: $btn-third-background__hover;
            color: $btn-third-text__hover;
        }

        &:active {
            background-color: $btn-third-background__active;
            color: $btn-third-text__active;
        }
    }

    &:disabled {
        background-color: $btn-disabled-background;
        color: $btn-disabled-text;

        &:hover {
            cursor: not-allowed;
        }
    }

    &-icone {
        &-primary {
            background-color: #605DEC;
            color: #ffffff;
            border: none;
    
            &:hover {
                cursor: pointer;
                background-color: #3D3ACE;
            }
    
            &:active {
                background-color: #3D3ACE;
            }
        }
    
        &-secondary {
            background-color: transparent;
            color: #605DEC;
            border: none;
    
            &:hover {
                cursor: pointer;
                background-color: #F6F5FF;
                border: #605DEC;
            }
    
            &:active {
                background-color: #F6F5FF;
                border: #605DEC;
            }
        }

        &:disabled {
            background-color: $btn-disabled-background;
            color: $btn-disabled-text;
    
            &:hover {
                cursor: not-allowed;
            }
        }
    }
}

.btn {
    &-large {
        padding: $btn-large-padding-y $btn-large-padding-x;
        font-size: $btn-large-text;
    }

    &-normal {
        padding: $btn-normal-padding-y $btn-normal-padding-x;
        font-size: $btn-normal-text;
    }

    &-medium {
        padding: $btn-medium-padding-y $btn-medium-padding-x;
        font-size: $btn-medium-text;
    }

    &-small {
        padding: $btn-small-padding-y $btn-small-padding-x;
        font-size: $btn-small-text;
    }

    &-extraSmall {
        padding: $btn-extraSmall-padding-y $btn-extraSmall-padding-x;
        font-size: $btn-extraSmall-text;
    }

    &-icone {
        &-large {
            padding: 20px;
            font-size: 24px;
        }
    
        &-normal {
            padding: 16px;
            font-size: 24px;
        }
    
        &-medium {
            padding: 12px;
            font-size: 24px;
        }
    
        &-small {
            padding: 8px;
            font-size: 24px;
        }
    
        &-extraSmall {
            padding: 8px;
            font-size: 16px;
        }
    }
}

.btn {
    &-icone {
        &-margin {
            &-large {
                &-left {
                    margin-left: 8px;
                }

                &-right {
                    margin-right: 8px;
                }
            } 
            &-normal {
                &-left {
                    margin-left: 8px;
                }

                &-right {
                    margin-right: 8px;
                }
            }
        
            &-medium {
                &-left {
                    margin-left: 8px;
                }

                &-right {
                    margin-right: 8px;
                }
            }
        
            &-small {
                &-left {
                    margin-left: 6px;
                }

                &-right {
                    margin-right: 6px;
                }
            }
            
            &-extraSmall {
                &-left {
                    margin-left: 6px;
                }

                &-right {
                    margin-right: 6px;
                }
            }
        }
    }
}