.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid $border-color;
    color: $text-light;
    background-color: transparent;
    padding: $btn-padding-y $btn-padding-x;
    transition: ease-in-out .3s;

    &:hover {
        cursor: pointer;
    }
}

.btn-menu {
    font-weight: $btn-menu-font-weight;
    font-size: $btn-menu-text;
    padding: $btn-menu-padding-y $btn-menu-padding-x;
    color: $text-dark;
    border: none;
}

.btn {
    &-primary {
        background-color: $btn-primary-background;
        color: $btn-primary-text;
        border: none;

        &:hover {
            cursor: pointer;
            background-color: $btn-primary-background__hover;
            color: $btn-primary-text__hover;
        }

        &:active {
            background-color: $btn-primary-background__active;
            color: $btn-primary-text__active;
        }
    }

    &-secondary {
        background-color: $btn-secondary-background;
        color: $btn-secondary-text;
        border: $btn-secondary-border;

        &:hover {
            cursor: pointer;
            background-color: $btn-secondary-background__hover;
            color: $btn-secondary-text__hover;
        }

        &:active {
            background-color: $btn-secondary-background__active;
            color: $btn-secondary-text__active;
        }
    }

    &-third {
        background-color: $btn-third-background;
        color: $btn-third-text;
        border: none;

        &:hover {
            cursor: pointer;
            background-color: $btn-third-background__hover;
            color: $btn-third-text__hover;
        }

        &:active {
            background-color: $btn-third-background__active;
            color: $btn-third-text__active;
        }
    }

    &:disabled {
        background-color: $btn-disabled-background;
        color: $btn-disabled-text;

        &:hover {
            cursor: not-allowed;
        }
    }
}

.btn {
    &-large {
        padding: $btn-large-padding-y $btn-large-padding-x;
        font-size: $btn-large-text;
    }

    &-normal {
        padding: $btn-normal-padding-y $btn-normal-padding-x;
        font-size: $btn-normal-text;
    }

    &-medium {
        padding: $btn-medium-padding-y $btn-medium-padding-x;
        font-size: $btn-medium-text;
    }

    &-small {
        padding: $btn-small-padding-y $btn-small-padding-x;
        font-size: $btn-small-text;
    }

    &-extraSmall {
        padding: $btn-extraSmall-padding-y $btn-extraSmall-padding-x;
        font-size: $btn-extraSmall-text;
    }
}