.checkbox {
    position: relative;
    display: flex;
    align-items: center;

    .checkbox-label {
        margin-left: 8px;
        font-size: 14px;
        color: #969696;

        &:hover {
            cursor: pointer;
        }
    }
}

.checkbox-container {
    width: 24px;
    height: 24px;
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 24px;
        width: 24px;
        border: 1px solid #BDBCDB;
        background-color: transparent;
        border-radius: 4px;

        &:hover {
            border-color: #605DEC;
        }

        
    }

    input.form-control:checked ~ .checkmark:after {
        display: block;
    }

    input:focus ~ .checkmark {
        border-width: 2px;
        border-color: #F845FC;
    }

    input:checked:focus ~ .checkmark {
        border-width: 2px;
        border-color: #F845FC;
    }

    input:disabled ~ .checkmark {
        background-color: #F4F3FE;
        border: none;
    }

    input:checked:disabled ~ .checkmark:after {
        background-color: #F4F3FE;
        border-color: #C5C0DB;
    }

    input.form-control:checked:disabled ~.checkmark {
        background-color: #F4F3FE;
    }

    .form-group.erro input.form-control ~.checkmark{
        border-color: #F93232;
    }

    & .checkmark:after {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    input.form-control:checked~.checkmark {
        background-color: #605DEC;
        border: none;
    }

    & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */

}