.m-header {
    margin-bottom: $margin-header;
}

.m-footer {
    margin-top: $margin-header;
}

.m-thin {
    margin-bottom: $margin-thin;
}

.m-medium {
    margin-bottom: $margin-medium;
}

.m-large {
    margin-bottom: $margin-large;
}

.m {
    &t {
        &-1 {
            margin-top: 8px;
        }

        &-2 {
            margin-top: 16px;
        }

        &-3 {
            margin-top: 32px;
        }

        &-4 {
            margin-top: 64px;
        }
    }

    &b {
        &-1 {
            margin-bottom: 8px;
        }

        &-2 {
            margin-bottom: 16px;
        }

        &-3 {
            margin-bottom: 32px;
        }

        &-4 {
            margin-bottom: 64px;
        }
    }

    &r {
        &-1 {
            margin-right: 8px;
        }

        &-2 {
            margin-right: 16px;
        }

        &-3 {
            margin-right: 32px;
        }

        &-4 {
            margin-right: 64px;
        }
    }

    &l {
        &-1 {
            margin-left: 8px;
        }

        &-2 {
            margin-left: 16px;
        }

        &-3 {
            margin-left: 32px;
        }

        &-4 {
            margin-left: 64px;
        }
    }
}

.m {
    &y {
        &-1 {
            margin-top: 8px;
            margin-bottom: 8px;
        }

        &-2 {
            margin-top: 16px;
            margin-bottom: 16px;
        }

        &-3 {
            margin-top: 32px;
            margin-bottom: 32px;
        }

        &-4 {
            margin-top: 64px;
            margin-bottom: 64px;
        }
    }

    &x {
        &-1 {
            margin-left: 8px;
            margin-right: 8px;
        }

        &-2 {
            margin-left: 16px;
            margin-right: 16px;
        }

        &-3 {
            margin-left: 32px;
            margin-right: 32px;
        }

        &-4 {
            margin-left: 64px;
            margin-right: 64px;
        }
    }
}

header {
    margin-bottom: $margin-header;
}

footer {
    margin-top: $margin-footer;
}