.m-header {
    margin-bottom: $margin-header;
}

.m-footer {
    margin-top: $margin-header;
}

.m-thin {
    margin-bottom: $margin-thin;
}

.m-medium {
    margin-bottom: $margin-medium;
}

.m-large {
    margin-bottom: $margin-large;
}

header {
    margin-bottom: $margin-header;
}

footer {
    margin-top: $margin-footer;
}