.p {
    &-1 {
        padding: 8px;
    }

    &-2 {
        padding: 16px;
    }

    &-3 {
        padding: 24px;
    }
    
    &-3 {
        padding: 32px;
    }
    
    &-4 {
        padding: 40px;
    }
}