.radio-container {
    position: relative;
    cursor: pointer;
    user-select: none;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    .checkmark {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 24px;
        width: 24px;
        border-radius: 50%;
        border: 1px solid #BDBCDB;

        &:hover {
            border-color: #605DEC;
        }

        
    }

    input.form-control:checked ~ .checkmark:after {
        display: block;
    }

    input:focus ~ .checkmark {
        border-width: 2px;
        border-color: #F845FC;
    }

    input:disabled ~ .checkmark {
        background-color: #F4F3FE;
        border: none;
    }

    input:checked:disabled ~ .checkmark:after {
        background-color: #F4F3FE;
    }

    input.form-control:checked:disabled ~.checkmark {
        background-color: #F4F3FE;
        border: none;
    }

    input.form-control:checked:disabled ~.checkmark::after {
        background-color: #C5C0DB;
    }

    .form-group.erro input.form-control ~.checkmark{
        border-color: #F93232;
    }

    & .checkmark:after {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #605DEC;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    input.form-control:checked~.checkmark {
        background-color: white;
        border: 1px solid #605DEC;
    }

    & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom radio */

}