.tooltip-trigger {
    display: inline-block;
    position: relative;
}

.tooltip-content {
    width: 234px;
    position: absolute;
    background: rgba(255, 255, 255, 1);
    color: #212121;
    padding: 6px 8px;
    border-radius: 4px;
    pointer-events: none;
    white-space: wrap;
    border: none;
    z-index: 9999999;
    font-size: 12px;
    line-height: 16px;
}

.tooltip {
    &-bottom {
        left: 50%;
        bottom: -50%;
        transform: translate(-50%, 100%);

        &::after {
            content: " ";
            position: absolute;
            bottom: 100%; /* At the bottom of the tooltip */
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: white transparent transparent transparent;
            transform: rotate(180deg);
        }

        &-left {
            left: 0;
            bottom: -50%;
            transform: translate(0, 100%);
    
            &::after {
                content: " ";
                position: absolute;
                bottom: 100%; /* At the bottom of the tooltip */
                left: 10%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: white transparent transparent transparent;
                transform: rotate(180deg);
            }
        }
    
        &-right {
            right: 0;
            bottom: -50%;
            transform: translate(0, 100%);
    
            &::after {
                content: " ";
                position: absolute;
                bottom: 100%; /* At the bottom of the tooltip */
                right: 10%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: white transparent transparent transparent;
                transform: rotate(180deg);
            }
        }
    }

    &-top {
        left: 50%;
        top: -50%;
        transform: translate(-50%, -100%);

        &::after {
            content: " ";
            position: absolute;
            top: 100%; /* At the bottom of the tooltip */
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: white transparent transparent transparent;
            transform: rotate(0deg);
        }

        &-left {
            left: 0;
            top: -50%;
            transform: translate(0, -100%);
    
            &::after {
                content: " ";
                position: absolute;
                top: 100%; /* At the bottom of the tooltip */
                left: 10%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: white transparent transparent transparent;
                transform: rotate(0deg);
            }
        }
    
        &-right {
            right: 0;
            top: -50%;
            transform: translate(0, -100%);
    
            &::after {
                content: " ";
                position: absolute;
                top: 100%; /* At the bottom of the tooltip */
                right: 10%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: white transparent transparent transparent;
                transform: rotate(0deg);
            }
        }
    }

    &-center {
        &-left {
            right: 120%;
            top: 50%;
            transform: translateY(-50%);
    
            &::after {
                content: " ";
                position: absolute;
                top: 50%;
                right: -3%;
                margin-right: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: white transparent transparent transparent;
                transform: translateY(-50%) rotate(-90deg);
            }
        }
        
        &-right {
            left: 120%;
            top: 50%;
            transform: translateY(-50%);
    
            &::after {
                content: " ";
                position: absolute;
                top: 50%;
                left: -3%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: white transparent transparent transparent;
                transform: translateY(-50%) rotate(90deg);
            }
        }
    }
}