// Title

$h1-fontSize: 35px;
$h2-fontSize: 30px;
$h3-fontSize: 25px;
$h4-fontSize: 22px;
$h5-fontSize: 20px;
$h6-fontSize: 18px;

$h1-lineHeight: 120%;
$h2-lineHeight: 120%;
$h3-lineHeight: 140%;
$h4-lineHeight: 140%;
$h5-lineHeight: 140%;
$h6-lineHeight: 140%;

$h1-fontWeight: 500;
$h2-fontWeight: 500;
$h3-fontWeight: 500;
$h4-fontWeight: 500;
$h5-fontWeight: 500;
$h6-fontWeight: 500;

// Paragraph

$p-fontSize: 16px;
$p-lineHeight: 25px;
$p-fontWeight: 500;

// Colors > General
$primary: #265EF5;

// Colors > Background
$bg-primary: $primary;
$bg-secondary: #FAFCFF;
$bg-light: #FBFCFF;
$bg-white: #FFFFFF;

// Colors > Border
$border-color: #E4E6EA;

// Colors > Text
$text-primary: $primary;
$text-secondary: #828282;
$text-warning: #FFB82E;
$text-danger: #F93232;
$text-success: #439F6E;
$text-dark: #000000;
$text-light: #212121;

// Colors > Paragraph
$p-link-color: #265FF3;
$p-link-color-hover: #265FF3;

// Margin
$margin-header: 80px;
$margin-footer: 80px;
$margin-section: 64px;
$margin-thin: 16px;
$margin-medium: 32px;
$margin-large: 40px;